services:
  - type: web
    name: game-store-backend
    runtime: docker
    dockerfilePath: ./Dockerfile
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: APP_URL
        value: https://backend-gamestore.onrender.com
    buildCommand: |
      composer install --no-dev --optimize-autoloader --no-interaction
    startCommand: sudo /usr/bin/supervisord -n -c /etc/supervisor/supervisord.conf